@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  transform: scale(1.2);
  height: 100vh;
  overflow: hidden;
}
.website {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: gray;
  width: 100%;
  height: 100%;
}

.holder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid #fff;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
}

.pic:hover {
  transform: rotate(360deg);
}

span {
  margin: 10px;
  font-size: 28px;
}
.text {
  color: lime;
}
.text::after {
  content: "I'm Daamin Ashai";
  transition: all 1s ease-in-out;
}

.text:hover::after {
  color: red;
  content: "I'm a CRAZY DEV!!!";
}
.contact {
  background-color: black;
  color: grey;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

p {
  text-align: center;
  color: gray;
  transition: all 0.3s ease-in-out;
}
p:hover {
  font-weight: 700;
}
.about {
  width: 500px;
}
.info {
  top: 50%;
  position: absolute;
  width: 200px;
  text-align: center;
  border-radius: 1100%;
  padding: 30px;
  color: black;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.right {
  right: 10%;
  transform: rotate(10deg);
  background-color: lemonchiffon;
  padding: 30px 20px;
}

.left {
  left: 10%;
  background-color: rebeccapurple;
  color: white;
  transform: rotate(-10deg);
}

.top {
  top: 20%;
  left: 10%;
  transform: rotate(-15deg);
  background-color: aqua;
}

.bottom {
  top: 20%;
  right: 10%;
  transform: rotate(15deg);
  background-color: dodgerblue;
  color: white;
}

.info:hover {
  transform: scale(1.08);
}
